@page "/orders"
@page "/orders/{id:int}"
@if(Id is null)
{
	<PageTitle> Reservations </PageTitle>
	<h3>Create a new reservation </h3>
}
else
{
	<PageTitle> Edit existing reservation</PageTitle>
	<h3>Edit reservation number @order.Id</h3>
}
	<EditForm Model = "order" OnSubmit="HandleSubmit">
	<div>
		<label for = "Id">Id</label>
		<InputNumber id = "Id" @bind-Value = "order.Id" class = "from-control"/>
	</div>
	
	<br />
	<button type="submit" class="btn btn-primary">Save</button>
	</EditForm>

@code {
	[Parameter] 
	public int? Id { get; set; }
	Order order = new Order {Id=1};
	async Task HandleSubmit()
	{
		Console.WriteLine("handle submit!");
	}

}

