@page "/orders"
@inject NavigationManager NavigationManager
@using pacifictours.Shared;
@inject HttpClient Http


@if(orderlist is null)
{
<h3>Orders</h3>

<button @onclick="AddOrder" class="btn btn-primary">Create order</button>
	<br/>
}

else
{
	<table>
		<thead>
			
			<button @onclick="AddOrder">Make order</button>
			<tr>
				<th>Hotel</th>
				<th>Hotel room</th>
				<th>Tour</th>
				<th>Tour name</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var order in orderlist)
			{
				<tr>
					<td width="2%">@order.HotelId</td>
					<td width="3%">@order.roomType</td>
					<td width="3%">@order.TourId</td>
					<td width="3%">@order.tourType</td>
				</tr>
			}
		</tbody>
	</table>
}

	

@code {
	void AddOrder()
	{
		NavigationManager.NavigateTo("/makeorder");
	}
	public int? Id { get; set; }

	List<Order> orderlist = new List<Order>();
 
	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<Order>>("/api/order");
		if (result != null)
		{
			orderlist = result;
		}
	}
	
}