@page "/tours"
@using pacifictours.Shared
@inject HttpClient Http
<h3>Tours</h3>
@if (tours.Count <= 0)
{
	<span>Loading Tours…</span>
}
else
{
	<table>
		<thead>
			<tr>	
				<th>Tour name</th>
				<th>Price (£)</th>
				<th>Available spaces</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var tour in tours)
			{
				<tr>
					<td width="2%">@tour.tourname</td>
					<td width="2%">@tour.price</td>
					<td width="2%">@tour.spaces</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	List<Tour> tours = new List<Tour>();
	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<Tour>>("/api/tour");
		if (result != null)
		{
			tours = result;
		}
	}
}
